html
  head
    title Register
    link(rel='stylesheet', href='/stylesheets/home.css')
    link(href='https://fonts.googleapis.com/css?family=Josefin+Slab', rel='stylesheet', type='text/css')
    script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
    script(src="/javascripts/home.js")
  body
    .nomen Welcome, #{user} | Log Out
    .header
      .title Legacy Impact Compass
    .main
      .content
        p
          | Welcome to Legacy Impact Compass. This application will help to lorem ipsum lots of words. This is an application written in NodeJS for the server, python with MatLib for the math, and Jade + Angular for the front end. Would you like to take the survey now?
        .steps
          .buttoncontainer
            button#profile.taketest(class='#{profile}')
              | profile
          .buttoncontainer
            button#options.taketest(class='#{options}')
              | options
          .buttoncontainer
            button#take.taketest(class='#{survey}')
              | take survey
          .buttoncontainer
            button#fears.taketest(class='#{fears}')
              | fears
    .footer
      .copyright
        | © 2015 ISAIAH TAYLOR